################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ParkPlaces/obj
/.vs
/packages
/ParkPlaces/bin/Debug
/ParkPlaces/bin/Release
/ParkPlacesTests/bin/Debug
/ParkPlacesTests/obj
/ParkPlaces.sln.DotSettings.user
