<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServerConfiguration" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="DBConnection" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="AltDBConnection" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <appSettings>
    <add key="LastUpdate" value="0" />
    <add key="UpdateInterval" value="5" />
    <add key="DBConnection" value="alt" />
  </appSettings>
  <ServerConfiguration>
    <add key="Port" value="11000" />
    <add key="AutoConfig" value="true"/>
  </ServerConfiguration>
  <DBConnection>
    <add key="server" value="***REMOVED***" />
    <add key="user" value="***REMOVED***" />
    <add key="password" value="***REMOVED***" />
    <add key="database" value="***REMOVED***" />
    <add key="port" value="3306" />
  </DBConnection>
  <AltDBConnection>
    <add key="server" value="localhost" />
    <add key="user" value="root" />
    <add key="password" value="" />
    <add key="database" value="parkplaces" />
    <add key="port" value="3306" />
  </AltDBConnection>
</configuration>